.weather-app {
  max-width: 500px;
  margin: 30px auto;
  display: block;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 6px;
  max-height: 500px;
}

h1 {
  font-size: 24px;
  line-height: 24px;
  margin-left: 35px;
}
ul {
  list-style: none;
  margin: 0 auto;

  line-height: 24px;
}

li {
  list-style: none;
  font-size: 16px;
  padding: 0 auto;
  margin: 0 auto;
}

strong {
  margin-top: 30px auto;
  font-size: 35px;
  line-height: 1;
}
.unit {
  position: relative;
  top: -16px;
  text-decoration: none;
}
small {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 14px;
}
#city-input {
  display: block;
  width: 400px;
  padding: 10px auto;
  margin: 30px auto;
  border: 1px solid grey;
}

.weather-forecast {
  text-align: center;
  margin-top: 18px;
  line-height: 30px;
  width: 35px;
  height: 50px;
}
.weather-forecast-date {
  font-size: 15;
  color: black;
  line-height: 10px;
}
