.weather-app {
  max-width: 500px;
  margin: 30px auto;
  display: block;
  padding: 20px;
  border: 1px solid violet;
  border-radius: 6px;
}

h1 {
  font-size: 24px;
  line-height: 24px;
  margin-top: 0 auto;
}
ul {
  margin: 0 auto;
  padding: 0 auto;
}
li {
  list-style: none;
  font-size: 16px;
  padding: auto;
}
strong {
  margin-top: 30px auto;
  font-size: 35px;
  line-height: 1;
}
.unit {
  position: relative;
  top: -16px;
  text-decoration: none;
}
small {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 14px;
}
