.weather-app{
  max-width:500px;
  
  margin:30px auto;
  display: block;
  padding: 20px;
  border: 1px solid violet;
  border-radius: 6px;
}
.search-box{
font-size: 20px;
border-radius: 4px;
}
h2{
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 0 auto;
}
ul{
  margin: 0 auto;
  padding: 0 auto;
}
li{
  list-style:none;
  font-size: 16px;

}
strong{
  margin-top: 30px auto;
  font-size: 35px;
  line-height: 1;
}
.unit{
  position: relative;
  top: -16px;
  
}
.btn-primary {
  padding: 8px 16px;
  font-size: 19px;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-left: 4px;
  background-color: blueviolet;
  color: #fff;
  cursor: pointer;
}